
.App {
  text-align: center;
  
}
.container{
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;

}
.username{
  background-color: rgb(9, 56, 207);
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 0;
  align-items: center;
  padding: 5px;
}
.card{
   margin: 20px;
   
}
.drop-menu{
  list-style: none;
}